body
{
background-color:white;
}
.pg1title
{
    text-align: center;
    background-color: rgb(210, 210, 210);
}
.pg1h1
{
    width: 85;
    background-color: rgb(210, 210, 210);
}
.pg1h2
{  
    width: 85;
    background-color: rgb(210, 210, 210);
}